body {
    background-color: gainsboro;
    font-family: 'Roboto', sans-serif;
  }

.quad {
  width: 50vw;
  height: 50vh;
}

#eat {
  background-color: hotpink;
  float: right;
}

#play {
  background-color: pink;
  float: right;
}

#sleep {
  background-color: fuchsia;
}

#fight {
  background-color: purple;
}

