@import 'bootstrap';

body {
    background-color: gainsboro;
    font-family: 'Roboto', sans-serif;
  }


#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#eat {
  width: 50%;
  height: 400px;
  background-color: lightblue;
  padding: 10px;
  // float: right;
  h1 {
    color: white;
  }
}

#play {
  width: 50%;
  height: 400px;
  background-color: lightcoral;
  padding: 10px;
  // float: right;
  h1 {
    color: white;
  }
}

#sleep {
  width: 50%;
  height: 400px;
  background-color: lightgreen;
  padding: 10px;
  h1 {
    color: white;
  }
}

#fight {
  width: 50%;
  height: 400px;
  background-color: lightpink;
  padding: 10px;
  h1 {
    color: white;
  }
}

button {
  background-color: white;
  border-radius: 5px;
  color: gray;
}
