@import 'bootstrap';
// *{padding: 0px;
//   margin: 0px;}

body {
    background-color: gainsboro;
    font-family: 'Roboto', sans-serif;
  }


#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#eat {
  width: 50%;
  height: 400px;
  background-color: lightblue;
  // float: right;
}

#play {
  width: 50%;
  height: 400px;
  background-color: lightcoral;
  // float: right;
}

#sleep {
  width: 50%;
  height: 400px;
  background-color: lightgreen;
}

#fight {
  width: 50%;
  height: 400px;
  background-color: lightpink;
}

